.modal {
  position:fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 48, 70, 0.84);
  z-index: 1000;

  // turned off
  display: none;
}

.modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 460px;
  border-radius: 5px;
  box-sizing: border-box;

  @include media($mobile){
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate(0);
    max-width: 100%;
  }
}

.modal__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4 {
    font-size: 24px;
    color: $primary;
  }

  img {
    max-width: 20px;
    cursor: pointer;
  }
}

.modal__content {
  margin-top: 30px;
}

.modal__info {
  font-size: 18px;
  margin-top: 22px;
  font-weight: bold;

  span {
    color: $primary;
    transition: 300ms;
    cursor: pointer;
    margin-left: 2px;

    &:hover {
      opacity: 0.7;
    }
  }
}

.modal__heading, .modal__info {
  @include media($mobile){
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}