@import 'src/styles/index';

.articlesHero {
  background-image: url('/assets/images/hero_bg.png');
  background-size: cover;
}

.container--articlesHero {
  @extend .container;
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  h1 {
    font-size: 48px;

    @include media($mobile) {
      font-size: 30px;
    }
  }

  span {
    color: $primary;
  }
}

.articlesPageList {
  margin: 60px auto;
}

.container--articlesPageList {
  @extend .container;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.articlesList--empty {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 300px;

  margin: 20px 0 100px;
}

.articlesList\_\_figure {
  position: relative;
}

.articlesList\_\_image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.articlesList\_\_caption {
  padding: 20px 0;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  min-width: max-content;

  color: $primary;
  font-family: $serif;
  font-size: 2rem;
}

.articlesList--empty .articlesList\_\_image {
  opacity: 0.5;
}

.articlesPageList\_\_listSort {
  @extend .articlesListSort;
}
